<!doctype html>
<meta charset="utf-8">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</head>
<style>

@font-face {
font-family: 'DIN';
  src: url('DIN.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

svg {
  position: absolute;
}

.our-font {
  font-family: 'DIN';
  font-weight: bold;
  font-size: 13px;
}

.mains {
  font-size: 24px;
  margin-top: 0px;
}

.overTop {
  opacity: 0;
}

.single-hex {
  fill: #777;
  pointer-events: all;
  cursor: pointer;
}

.single-hex path {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.single {
  background-color: rgba(255,255,255,0.5);
  pointer-events: all;
  cursor: pointer;
}

.single :hover {
  fill: #444;
}

.mesh {
  fill: none;
  pointer-events: none;
}

.border {
  stroke: #777;
  stroke-width: 10px;
}

.hex-specific {
  position: absolute;
  width: 240px;
  height: 138.56px;
  background-color: rgba(255,255,255,0);
  margin: 69.28px 0;
}

.hex-specific:before,
.hex-specific:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
}

.hex-specific:before {
  bottom: 100%;
  border-bottom: 69.28px solid transparent;
}

.hex-specific:after {
  top: 100%;
  width: 0;
  border-top: 69.28px solid transparent;
}

.hex-mini {
  position: relative;
  width: 220px;
  height: 50px;
  background-color: #fff;
  margin: 63.51px 0;
}

.hex-mini:before,
.hex-mini:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
}

.hex-mini:before {
  bottom: 100%;
  border-bottom: 63.51px solid #fff;
}

.hex-mini:after {
  top: 100%;
  width: 0;
  border-top: 63.51px solid #fff;
}

.r-hex {
  overflow: hidden;
  display: inline-block;
  margin: 4em 0;
  width: 20em; height: 17.32em;
  transform: rotate(-30deg) skewX(30deg);
  border-radius: .5em;
}
.r-hex *, .r-hex *:before {
  display: block;
  overflow: hidden;
  width: inherit; height: inherit;
  border-radius: inherit;
}
.r-hex-inner {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  opacity: .15;
  transition: opacity .75s;
  cursor: pointer;
}
.r-hex:first-child .r-hex-inner:before, .r-hex-inner-2 {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: orange;
  content: '';
}
.r-hex-inner-2:before {
  margin-top: -1.5em;
  height: 20em;
  transform: skewX(-30deg) rotate(-90deg);
  background: url(http://images.fineartamerica.com/images-medium-large/sumatran-tiger-cub--panthera-tigris-sumatrae-life-on-white.jpg);
  background-size: cover;
  line-height: 20em;
  text-align: center;
  content: 'Hello, be a nice kitty...';
}
.r-hex-inner:hover { opacity: 1; }

.headline {
  padding: 4px;
}

</style>
<body>
</body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script>

    hexValObjs = [];

    tempback = "";

    var width = 5000,
        height = 5000,
        radius = 150,
        xDiff = 711.69,
        yDiff = 619;

    var topology = hexTopology(radius, width, height);

    var projection = hexProjection(radius);

    var path = d3.geo.path()
        .projection(projection);

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height),
        defs = svg.append('defs');


    var singleHex = svg.append("g")
        .attr("class", "hexagon")
      .selectAll("g.single-hex")
        .data(topology.objects.hexagons.geometries)
      .enter().append('g').attr('class', 'single-hex border');

    singleHex.append("path")
        .attr("d", function(d) { return path(topojson.feature(topology, d)); })
        .attr("data-loc", function(d){ return 'z' + d.loc.i +'-' + d.loc.j; })
        .attr("data-array-loc", function(d){
            hexValObjs.push({xArrayPos: d.arrayLoc.i, yArrayPos: d.arrayLoc.j, xVal:d.loc.i, yVal:d.loc.j, rowVal:d.arrayLoc.j, dx:d.arrayLoc.dx});
            return 'z' + d.arrayLoc.i +'-' + d.arrayLoc.j;
          })
        // .on("mousedown", mousedown);

    svg.append("path")
        .datum(topojson.mesh(topology, topology.objects.hexagons))
        .attr("class", "mesh")
        .attr("d", path);
    //
    // function mousedown(d) {
    //   //d3.select(this).style({'fill': '#fff'});
    //   if (d.arrayLoc.j % 2 == 1) {
    //     window.scrollTo(d.loc.i-xDiff, d.loc.j-yDiff);
    //   } else {
    //     window.scrollTo(d.loc.i-xDiff+d.arrayLoc.dx/2, d.loc.j-yDiff);
    //   }
    //
    // }

    function hexTopology(radius, width, height) {
      var dx = radius * 2 * Math.sin(Math.PI / 3),
          dy = radius * 1.5,
          m = Math.ceil((height + radius) / dy) + 1,
          n = Math.ceil(width / dx) + 1,
          geometries = [],
          arcs = [];

      for (var j = -1; j <= m; ++j) {
        for (var i = -1; i <= n; ++i) {
          var y = j * 2, x = (i + (j & 1) / 2) * 2;
          arcs.push([[x, y - 1], [1, 1]], [[x + 1, y], [0, 1]], [[x + 1, y + 1], [-1, 1]]);
        }
      }

      for (var j = 0, q = 3; j < m; ++j, q += 6) {
        for (var i = 0; i < n; ++i, q += 3) {
          geometries.push({
            type: "Polygon",
            arrayLoc: {i:i, j:j, dx:dx},
            loc: {i:i*dx, j:j*dy}, //figure out what actually goes here
            arcs: [[q, q + 1, q + 2, ~(q + (n + 2 - (j & 1)) * 3), ~(q - 2), ~(q - (n + 2 + (j & 1)) * 3 + 2)]]
          });
        }
      }

      return {
        transform: {translate: [0, 0], scale: [1, 1]},
        objects: {hexagons: {type: "GeometryCollection", geometries: geometries}},
        arcs: arcs
      };
    }

    function hexProjection(radius) {
      var dx = radius * 2 * Math.sin(Math.PI / 3),
          dy = radius * 1.5;
      return {
        stream: function(stream) {
          return {
            point: function(x, y) { stream.point(x * dx / 2, (y - (2 - (y & 1)) / 3) * dy / 2); },
            lineStart: function() { stream.lineStart(); },
            lineEnd: function() { stream.lineEnd(); },
            polygonStart: function() { stream.polygonStart(); },
            polygonEnd: function() { stream.polygonEnd(); }
          };
        }
      };
    }

    var topology2 = hexTopology(radius, width, height);

    var projection2 = hexProjection(radius);

    var path2 = d3.geo.path()
        .projection(projection2);

    var svgOuter = d3.select("body").append("svg")
        .style('z-index', 10)
        .attr("class", "overTop")
        .attr("width", width)
        .attr("height", height),
        defs = svgOuter.append('defs');


    var singleHexOuter = svgOuter.append("g")
        .attr("class", "hexagon")
      .selectAll("g.single")
        .data(topology2.objects.hexagons.geometries)
      .enter().append('g').attr('class', 'single border');

      singleHexOuter.append("path")
        .attr("d", function(d) { return path(topojson.feature(topology, d)); })
        .attr("data-loc-outer", function(d){ return 'z' + d.loc.i +'-' + d.loc.j; })
        .attr("data-array-loc-outer", function(d){
            return 'z' + d.arrayLoc.i +'-' + d.arrayLoc.j;
          })
        .on("mousedown", mousedown)
        .on('mouseover', mouseover)
        .on('mouseout', mouseout);

    svgOuter.append("path")
        .datum(topojson.mesh(topology2, topology2.objects.hexagons))
        .attr("class", "mesh")
        .attr("d", path);

    function mousedown(d) {
      d3.select(this).style({'fill': '#fff'});
      // if (d.arrayLoc.j % 2 == 1) {
      //   $(window).animate(window.scrollTo(d.loc.i-xDiff, d.loc.j-yDiff), 2000);
      // } else {
      //   window.scrollTo(d.loc.i-xDiff+d.arrayLoc.dx/2, d.loc.j-yDiff);
      // }
      if (d.arrayLoc.j % 2 == 1) {
        $('body').animate({scrollLeft: d.loc.i-xDiff, scrollTop:d.loc.j-yDiff}, 1000);
      } else {
        $('body').animate({scrollLeft: d.loc.i-xDiff+d.arrayLoc.dx/2, scrollTop:d.loc.j-yDiff}, 1000);
      }

    }

    function mouseover(d) {
      tempback = d3.select('path[data-array-loc=z'+d.arrayLoc.i+'-'+d.arrayLoc.j+']').style('fill');
      d3.select('path[data-array-loc=z'+d.arrayLoc.i+'-'+d.arrayLoc.j+']').style('fill', "#006fbb");
    }

    function mouseout(d) {
      d3.select('path[data-array-loc=z'+d.arrayLoc.i+'-'+d.arrayLoc.j+']').style('fill', tempback);
    }


</script>


<script type="text/javascript" charset="utf-8">


var keys = [37, 38, 39, 40];

function preventDefault(e) {
  e = e || window.event;
  if (e.preventDefault)
      e.preventDefault();
  e.returnValue = false;
}

function keydown(e) {
    for (var i = keys.length; i--;) {
        if (e.keyCode === keys[i]) {
            preventDefault(e);
            return;
        }
    }
}

function wheel(e) {
  preventDefault(e);
}

function disable_scroll() {
  if (window.addEventListener) {
      window.addEventListener('DOMMouseScroll', wheel, false);
  }
  window.onmousewheel = document.onmousewheel = wheel;
  document.onkeydown = keydown;
}

disable_scroll();


_.each(hexValObjs, function (hexObj, index) {
  var tempY = hexObj.yVal - 355;
  var tempX = hexObj.xVal - 112;

  if (hexObj.rowVal % 2 == 0) {
    tempX = tempX + (hexObj.dx / 2);
  }

  $('body').append("<div id='ab" + hexObj.xArrayPos + "-" + hexObj.yArrayPos + "' class='hex-specific' data-xPos='" + hexObj.xArrayPos + "' data-yPos='" + hexObj.yArrayPos + "' "
  + "style='position:absolute; top:" + tempY + "px; left:" + tempX + "px;'>"
    + "<div id='cd" + hexObj.xArrayPos + "-" + hexObj.yArrayPos + "' class='hex-mini' data-xPos='" + hexObj.xArrayPos + "' data-yPos='" + hexObj.yArrayPos + "' "
    + "style='z-index:2;position:relative;top:-58px;left:10px;'>"
      + "<p id='ef" + hexObj.xArrayPos + "-" + hexObj.yArrayPos + "' class='our-font headline' style='z-index:3; text-align:center;'></p>"
    + "</div>"
  + "</div>");




  var weeX = hexObj.yVal - 355;
  var weeY = hexObj.xVal - 112;

  if (hexObj.rowVal % 2 == 0) {
    weeX = weeX + (hexObj.dx / 2);
  }

});

$.ajax({

       'url' : 'http://localhost:5000/search/',
       'type' : 'GET',
       'success' : function(data) {
        _.each($('.headline'), function (value, index) {
            $(value).text(data.results[index].title);
         });
         _.each($('.hex-specific'), function (value, index) {
             var article = data.results[index];
             var img = ''
             if (article.media) {
               img = article.media[0]['media-metadata'][0].url;
             }
             var datas = hexValObjs[index];
             if (datas.yArrayPos % 2 == 0) {
               defs
                  .append("pattern")
                  .attr("id", index)
                  .attr('width', 259.808)
                  .attr('height', 300)
                  .attr('x', 0)
                  .attr('y', 40.192)
                  .attr("patternUnits","userSpaceOnUse")
                  .append("image")
                  .attr('width', 300)
                  .attr('height', 300)
                  .attr('x', 0)
                  .attr("xlink:href", img);
             } else {
               defs
                  .append("pattern")
                  .attr("id", index)
                  .attr('width', 259.808)
                  .attr('height', 300)
                  .attr('x', 259.808/2)
                  .attr('y', 40.192)
                  .attr("patternUnits","userSpaceOnUse")
                  .append("image")
                  .attr('width', 300)
                  .attr('height', 300)
                  .attr('x', 0)
                  .attr("xlink:href", img);
             }

                d3.select('path[data-array-loc=z'+datas.xArrayPos+'-'+datas.yArrayPos+']').style('fill', "url(#"+index+")");
         });

          defs
             .append("pattern")
             .attr("id", 'business')
             .attr('width', 259.808)
             .attr('height', 300)
             .attr('x', 125)
             .attr('y', 180.192)
             .attr("patternUnits","userSpaceOnUse")
             .append("image")
             .attr('width', 300)
             .attr('height', 300)
             .attr('x', 0)
             .attr("xlink:href", '/static/pngs4U/business.png');
             defs
                .append("pattern")
                .attr("id", 'culture')
                .attr('width', 259.808)
                .attr('height', 300)
                .attr('x', 125)
                .attr('y', 180.192)
                .attr("patternUnits","userSpaceOnUse")
                .append("image")
                .attr('width', 300)
                .attr('height', 300)
                .attr('x', 0)
                .attr("xlink:href", '/static/pngs4U/culture.png');
                defs
                   .append("pattern")
                   .attr("id", 'cuisine')
                   .attr('width', 259.808)
                   .attr('height', 300)
                   .attr('x', 0)
                   .attr('y', 70.192)
                   .attr("patternUnits","userSpaceOnUse")
                   .append("image")
                   .attr('width', 300)
                   .attr('height', 300)
                   .attr('x', 0)
                   .attr("xlink:href", '/static/pngs4U/cuisine.png');
                   defs
                      .append("pattern")
                      .attr("id", 'science')
                      .attr('width', 259.808)
                      .attr('height', 300)
                      .attr('x', 0)
                      .attr('y', 220.192)
                      .attr("patternUnits","userSpaceOnUse")
                      .append("image")
                      .attr('width', 300)
                      .attr('height', 300)
                      .attr('x', 0)
                      .attr("xlink:href", '/static/pngs4U/science.png');
                      defs
                         .append("pattern")
                         .attr("id", 'technology')
                         .attr('width', 259.808)
                         .attr('height', 300)
                         .attr('x', 0)
                         .attr('y', 70.192)
                         .attr("patternUnits","userSpaceOnUse")
                         .append("image")
                         .attr('width', 300)
                         .attr('height', 300)
                         .attr('x', 0)
                         .attr("xlink:href", '/static/pngs4U/technology.png');
                         defs
                            .append("pattern")
                            .attr("id", 'sports')
                            .attr('width', 259.808)
                            .attr('height', 300)
                            .attr('x', 0)
                            .attr('y', 220.192)
                            .attr("patternUnits","userSpaceOnUse")
                            .append("image")
                            .attr('width', 300)
                            .attr('height', 300)
                            .attr('x', 0)
                            .attr("xlink:href", '/static/pngs4U/sports.png');
                            defs
                               .append("pattern")
                               .attr("id", 'lockerdome-logo')
                               .attr('width', 259.808)
                               .attr('height', 300)
                               .attr('x', 108)
                               .attr('y', 140.192)
                               .attr("patternUnits","userSpaceOnUse")
                               .append("image")
                               .attr('width', 300)
                               .attr('height', 300)
                               .attr('x', 0)
                               .attr("xlink:href", '/static/pngs4U/lockerdome-logo.png');




         d3.select('path[data-array-loc=z11-13]').style('fill', "url(#business)");
         d3.select('path[data-array-loc=z12-13]').style('fill', "url(#lockerdome-logo)");
         d3.select('path[data-array-loc=z13-13]').style('fill', "url(#culture)");
         d3.select('path[data-array-loc=z11-12]').style('fill', "url(#science)");
         d3.select('path[data-array-loc=z12-12]').style('fill', "url(#sports)");
         d3.select('path[data-array-loc=z11-14]').style('fill', "url(#cuisine)");
         d3.select('path[data-array-loc=z12-14]').style('fill', "url(#technology)");

         $('#cd12-13').remove();
         $('#cd11-13').css({'top': '-55px', height: '120px'}).prepend("<img src='static/icons/business-icon.png' style='width:90px;height:70px;margin-left:66px'>");
         $('#cd13-13').css({'top': '-55px', height: '120px'}).prepend("<img src='static/icons/culture-icon.png' style='width:90px;height:70px;margin-left:66px'>");
         $('#cd11-12').css({'top': '-55px', height: '120px'}).prepend("<img src='static/icons/science-icon.png' style='width:90px;height:70px;margin-left:66px'>");
         $('#cd12-12').css({'top': '-55px', height: '120px'}).prepend("<img src='static/icons/sports-icon.png' style='width:90px;height:70px;margin-left:66px'>");
         $('#cd11-14').css({'top': '-55px', height: '120px'}).prepend("<img src='static/icons/cuisine-icon.png' style='width:90px;height:70px;margin-left:66px'>");
         $('#cd12-14').css({'top': '-55px', height: '120px'}).prepend("<img src='static/icons/technology-icon.png' style='width:90px;height:70px;margin-left:66px'>");

         $('#ef11-13').addClass('mains').text('business');
         $('#ef13-13').addClass('mains').text('culture');
         $('#ef11-12').addClass('mains').text('science');
         $('#ef12-12').addClass('mains').text('sports');
         $('#ef11-14').addClass('mains').text('cuisine');
         $('#ef12-14').addClass('mains').text('technology');


       },
       'error' : function(request,error)
       {
           alert("Request: "+JSON.stringify(request));
       }
   });



window.scrollTo(2406, 2306);



</script>
</html>
